{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "root": true,
  "env": {
    "browser": true
  },
  "rules": {
    "semi": [2, "never"],
    "import/no-unresolved": 0,
    "react/jsx-filename-extension": 0,
    "react/no-array-index-key": 0,
    "react/forbid-prop-types": 0,
    "no-new-func": 0,
    "no-eval": 0
  }
}
