:global .ant-drawer-body {
  height: calc(100% - 55px);
  overflow: auto;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    margin-right: 30px;
  }
}
.main {
  height: 100%;
  position: relative;
}
.component {
  height: 100%;
}
